<div class="edit-bookmark-wrapper">
  <p *ngIf="!bookmark">Bookmark not found</p>
  <ng-container *ngIf="bookmark">
    <h2 class="is-bold">{{ bookmark.name }}</h2>
    <form 
      #form="ngForm"
      ngNativeValidate
      >
      <!-- (ngSubmit)="onFormSubmit(form)" -->
      <div class="form-field">
        <label class="form-label">Name</label>
        <input 
        [ngModel]="bookmark.name"
        #textField="ngModel"
        name="name"
        class="textbox" 
        type="text" 
        placeholder="Enter bookmark name ...">
      </div>

      <div class="form-field">
        <label class="form-label">URL</label>
        <input 
        [ngModel]="bookmark.url"
        #textField="ngModel"
        name="url"
        required
        class="textbox" 
        type="url" 
        placeholder="e.g. https://wikipedia.com">
      </div>
      
      <div class="btns-container">
        <a class="btn" routerLink="../">Cancel</a>
        <button class="btn align-end">Save</button>
      </div> 
    </form>
  </ng-container>
</div>
