<div class="todos-wrapper">
  <div class="container">

    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">This is todo</p>
    </div>

    <div class="todo-item">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">This is todo Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro dolorum voluptas ullam tenetur magni cumque perspiciatis quisquam placeat id error! Earum nisi perferendis, vel pariatur sequi sed architecto illo optio!</p>
    </div>


  </div>
</div>
